.blockWeatherCenter {
    border: white solid 6px;
    margin-top: 6px;
    padding: 30px;
}

.dayImg img {
    width: 100px;
}

.blockNameValue {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.blockName {
    border: white 3px solid;
    margin: 2px;
    background-color: #80a3b5;
    color: white;
    width: 250px;
    box-shadow: 4px 4px 0px 0px #b1c8d3;
    font-size: 24px;
}

.blockValue {
    border: white 3px solid;
    margin: 2px;
    background-color: #83d4ed;
    color: white;
    width: 120px;
    box-shadow: 4px 4px 0px 0px #b3ddeb;
    font-size: 24px;
}
