.list {
    width: 250px;
    max-height: 200px;
    margin: 0 auto;
    overflow: auto;
    background-color: #f6c358;
    cursor: pointer;
    font-size: 24px;
}

.item:hover {
    background-color: #ffba29;
}