.list {
    border: red 1px solid;
    width: 200px;
    height: 300px;
    margin: 0 auto;
    overflow: auto;
    background-color: #e6efff;
    cursor: pointer;
}

.item:hover {
    background-color: #d9e6fc;
}