.list {
    width: 250px;
    max-height: 200px;
    margin: 0 auto;
    overflow: auto;
    background-color: #83d4ed;
    cursor: pointer;
    font-size: 24px;
}

.item:hover {
    background-color: #80a3b5;
}