.dayImg img {
    width: 150px;
}

.blockNameValue {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.blockName {
    border: white 3px solid;
    margin: 2px;
    background-color: #80a3b5;
    color: white;
    width: 250px;
    box-shadow: 4px 4px 0px 0px #b1c8d3;
}

.blockValue {
    border: white 3px solid;
    margin: 2px;
    background-color: #83d4ed;
    color: white;
    width: 120px;
    box-shadow: 4px 4px 0px 0px #b3ddeb;
}

.button img {
    width: 150px;
}

.button:active {
    transform: translateY(2px)
}

.blockWeather {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.blockWeatherCenter {
    border: white solid 6px;
    margin-top: 6px;
    padding: 30px;
}